.divPassword{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 40px
}

.botaoCarregamento{
    display: block;
    width: 50%;
    position: fixed;
    bottom: 0%;
    right: 0%;
}