.divFundo{
    /* display: flex; */
    flex-wrap: wrap;
    margin-top: 100px;
    margin: auto;
}

.divFundoLista{
    margin-top: 8%;
}

    .Tabela{
        width: 80%;
        margin: auto
    }
    
    .listaItemUsuario{
        list-style-type: none;
        margin-top: 10px;
        
    }
    
    .itemUsuario{
        border-bottom: 1px solid #a19f9f 
    }
    .FontUsuario{
        font-size: 1rem;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: var(--fontPadrao);
    }

    .Editar{
        cursor: pointer;
        color: #55ACEE
    }
    .Editar:hover{
     
        background-color: #E5F4FF
    }
    .Deletar{
        cursor: pointer;
        color: #EE6755
    }
    .Deletar:hover{
        cursor: pointer;
        background-color: #FBECEA
    }

    .icoEditar{
       
        color: #55ACEE
    }
    .icoDeletar{
       
        color: #EE6755
    }

    .headerTabela{
        background-color: #2F2F2F;
        width: 84%;
        margin: auto;
        border-radius: 10px 10px 0px 0px;
        height: 65px;
    } 
    
    .DropMENU{
        margin-inline-start: auto;
        display: flex
    }

    .DropMENU{
        margin-inline-start: auto;
        display: flex
    }

    .IconeMENU{   
        --bs-btn-bg: none;
        --bs-btn-border-color: none;
        --bs-btn-hover-color: var(--secundaryTom1-color3)!important;
        background-color: transparent !important;
        color: none;
        --bs-btn-hover-color: none;
        --bs-btn-hover-bg: none;
    }

    .IconeMENU2{
        --bs-btn-bg: none;
        --bs-btn-border-color: none;
        --bs-btn-hover-color: #55ACEE!important;
        background-color: transparent !important;
        color: #000;
        --bs-btn-active-color: #000 ;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #000;
    }


    .IconeDrop{
        width: 20px;
        height: 20px;
        color: var(--secundaryTom1-color3);
        margin-right: 10px;
    }

    .botaoCarregamento{
        display: block;
        width: 50%;
        position: fixed;
        bottom: 0%;
        right: 0%;
    }
    .tituloDeletar{
        color: #EE6755
    }
    .migalhas{
        display: flex;
        margin-left: 10%
    }

/* ===============ESTILO DOS CARDS ARVORES=============== */
.divItens1{
    /* height: 400px;
    overflow-y: auto; */
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: center;
}

.CardArvore{
    /* width: 20%; */
    width: 300px;
    /* height: 30%; */ 
    margin: 10px;
    /* cursor: pointer; */
}
.CardArvore:hover{
    /* border: solid 2px #2ccd23; */
    box-shadow: 2px 2px 10px 2px #bfbfbf;
}

.divCardArv{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

/*Paginação*/
.divPaginacao{
    margin-left: 20px;
    margin-top: 10px;
    bottom: 5px;
    justify-content: center;
    display: flex;
}


/* =============CARDS LOCAL estilo 1========== */

.Card{
    width: 30%;
    height: 30%;
    margin: auto;
    
}

.HeaderCard{
    display: flex;
    
}
.HeaderCard0{
    /* background-color: #9EC69D; */
    background-color: #d1e7dd
}

.opcoesCard{
    display: flex;
    margin-inline-start: auto;
}

.iconesAdminIcon1{
    cursor: pointer;
    font-size: 23px;
    transition: 0.2s;
   
}
.iconesAdminIcon1:hover{
    cursor: pointer;
    font-size: 25px;
    transition: 0.2s;
    color: #55ACEE
}
.iconesAdminIcon2{
    cursor: pointer;
    font-size: 23px;
    transition: 0.2s;
}
.iconesAdminIcon2:hover{
    cursor: pointer;
    font-size: 25px;
    transition: 0.2s;
    color: #EE6755
}



.StatusCard{
    font-size: 12px;
    width: 80px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: green;
    color: #fff;
    justify-self: auto;
    justify-content: auto;
    justify-items: auto;
   
}

.StatusCard2{
    font-size: 12px;
    width: 80px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: red;
    color: #fff;
    justify-self: auto;
    justify-content: auto;
    justify-items: auto;
   
}

.imgArvore{
    width: 99%;
    height: 20vh;
    margin: auto;
    display: flex;
    object-fit: cover;

}

.barraLateralEdit{
    width: 35% !important;
}

@media (max-width: 1211px) {
    .Card{
        width: 60%;
        height: 10%;
        margin: auto;
        
    }
    .barraLateralEdit{
        width: 50% !important;
    }
    .CardArvore{
        width: 90%;
    }
}



    /* =================================Responsividade===================================== */
    @media (max-width: 800px) {
         
        .Tabela th:nth-child(2),
        .Tabela td:nth-child(2) {
        display: none;
        }
        .Tabela th:nth-child(4),
        .Tabela td:nth-child(4) {
        display: none;
        }
        .headerTabela{
            width: 100%;
        }
        .Tabela{
            width: 100%;
        }
         /* &:nth-child(0){
            display: none
        } */
        .barraLateralEdit{
            width: 100% !important;
        }
        .CardArvore{
            width: 90%;
        }
      
    }