.DivTitulos{
    display: flex;
    margin-inline: auto;
    margin-top: 20px;
}


.DivInternoTitutlos{
    margin-left: 20px;
    margin: auto;
    text-align: center;
}

.tituloH2{
    font-family: var(--fontPadrao);
    font-size: 24px;
    color: gray
}
.subtituloH2{
    font-family: var(--fontPadrao);
    color: #11FF0B;
    font-size: 36px;
    font-weight: bold;
    
}
.Sessao1{
    height: 50%;
    background-color: #43944314;
    display: flex;
    margin: auto;
    justify-content: center;
}
.DivPlantarArvoreEsquerdo{
    width: 50%;
   
    justify-content: center;
    
}
.DivPlantarArvoreDireito{
    width: 30%;
   
    justify-content: center;
    
}
.TextoArvoreEsquerdo{
    width: 70%;
    margin-top: 40px;
    
   
}
.logo{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.TituloArvore{
   margin-bottom: 15%;
   color: #469444;
   --fontPadrao: "Manrope", sans-serif;
}
.subTituloArvore{
    margin-bottom: 15%;
    --fontPadrao: "Manrope", sans-serif;
}
/* Sessão 2 */
.Sessao2{
    height: 50%;
    background-color: #ffffff;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    
}

/* .TextoArvoreEsquerdo{
    width: 70%;
    margin-top: 40px;
    
   
} */
/* .logo{
    width: 500px;
    height: 500px;
    object-fit: cover;
} */
 
.TituloArvore2{
   margin-bottom: 15%;
   color: #55ACEE;
   --fontPadrao: "Manrope", sans-serif;
}
.subTituloArvore2{
    margin-bottom: 15%;
    --fontPadrao: "Manrope", sans-serif;
}

/* Sessão 3 */
.Sessao3{
    height: 50%;
    background-color: #469444;
    display: flex;
    margin: auto;
    justify-content: center;
}


.TextoArvoreEsquerdo3{
    width: 70%;
    margin-top: 40px;
    
   
}
/* .logo{
    width: 500px;
    height: 500px;
    object-fit: cover;
} */

.TituloArvore3{
    letter-spacing: -15px;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
}


.subTituloArvore3{
    margin-bottom: 5%;
    --fontPadrao: "Manrope", sans-serif;
    color: #55ACEE;
    /* margin-top: 60%; */
    background-color:black;
    padding: 10px
}
.TextoArvore3{
   
    color: #fff;
    background-color:black;
    padding: 10px
}
 

@media (max-width: 797px){
    .Sessao1{
        display: none
    }
    .Sessao2{
        display: none
    }
    .Sessao3{
        display: none
    }
}




.h1 {
    letter-spacing: -15px;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
  }
  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 80vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
   
  }

  .MainContainer::-webkit-scrollbar {
    display: none;
}
  .ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
  }
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }
  .p {
    margin: 75px 0;
  }
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url(../../assets/images/fundofloresta4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #fae4d8;
  }