.DivTitulos{
    display: flex;
    margin-inline: auto;
    margin-top: 20px;
}


.DivInternoTitutlos{
    margin-left: 20px;
    margin: auto;
    text-align: center;
    /* margin-top: 100px; */
}

.tituloH2{
    font-family: var(--fontPadrao);
    font-size: 24px;
    /* color: gray */
    color: #fff
}
.subtituloH2{
    font-family: var(--fontPadrao);
    /* color: #11FF0B; */
    font-size: 36px;
    font-weight: bold;
    
}
.Sessao1{
    height: 50%;
    background-color: #43944314;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: -18px;
}
.DivPlantarArvoreEsquerdo{
    width: 50%;
   
    justify-content: center;
    
}
.DivPlantarArvoreDireito{
    width: 30%;
   
    justify-content: center;
    
}
.TextoArvoreEsquerdo{
    width: 70%;
    margin-top: 40px;
    
   
}
.logo{
    width: 480px;
    height: 480px;
    object-fit: cover;
    transition: 1s;
}
.Botao{
    background-color: #000;
}

.TituloArvore{
   margin-bottom: 15%;
   color: #469444;
   --fontPadrao: "Manrope", sans-serif;
  
}
.subTituloArvore{
    margin-bottom: 15%;
    --fontPadrao: "Manrope", sans-serif;
    
}
/* Sessão 2 */
.Sessao2{
    height: 50%;
    background-color: #ffffff;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    
}

/* .TextoArvoreEsquerdo{
    width: 70%;
    margin-top: 40px;
    
   
} */
/* .logo{
    width: 500px;
    height: 500px;
    object-fit: cover;
} */
 
.TituloArvore2{
   margin-bottom: 15%;
   color: #55ACEE;
   --fontPadrao: "Manrope", sans-serif;
}
.subTituloArvore2{
    margin-bottom: 15%;
    --fontPadrao: "Manrope", sans-serif;
}

/* Sessão 3 */
.Sessao3{
    height: 50%;
    background-color: #469444;
    display: flex;
    margin: auto;
    justify-content: center;
}


.TextoArvoreEsquerdo3{
    width: 70%;
    margin-top: 40px;
    
   
}
/* .logo{
    width: 500px;
    height: 500px;
    object-fit: cover;
} */

.TituloArvore3{
    letter-spacing: -15px;
   
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
    --fontPadrao: "Manrope", sans-serif;
}


.subTituloArvore3{
    margin-bottom: 5%;
    --fontPadrao: "Manrope", sans-serif;
    color: #55ACEE;
    /* margin-top: 60%; */
    background-color:black;
    padding: 10px
}
.TextoArvore3{
   
    color: #fff;
    background-color:black;
    padding: 10px
}
 
@media (max-width: 1196px){
.logo{
    width: 393px;
    height: 393px;
    margin-left: -50px;
    object-fit: cover;
    transition: 1s;
}
}

@media (min-width: 796) {
    .DivIndice{
        display: none;
    }
}
.DivIndice{
    height: 150px;
    background-color: #55acf0b3;
}



 
@media (max-width: 797px){
    .Sessao1{
        display: flex;
        flex-wrap: wrap;
    }
    .DivPlantarArvoreEsquerdo{
        width: 100%;
        display: flex;
        margin: auto;
        font-size: 2rem;
    }
    .navbar-toggler{
        background-color: #fff !important;
    }

    .Sessao2{
        display: flex;
        flex-wrap: wrap;
    }
    .DivPlantarArvoreDireito{
        width: 70%;
        display: flex;
        margin: auto;
        font-size: 2rem;
    }
    .Sessao3{
        display: flex;
        flex-wrap: wrap;
    }

    .ParallaxContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .TituloArvore3{
        font-size: 8rem;
        font-weight: bolder;
    }
    .TituloArvore, .TituloArvore2{
        font-size: 3rem;
            }
    .DivIndice{
        height: 150px;
    }
}




.h1 {
    letter-spacing: -15px;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
  }
  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 80vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
   
  }

  .MainContainer::-webkit-scrollbar {
    display: none;
}
  .ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
  }
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }
  .p {
    margin: 75px 0;
  }
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url(../../assets/images/fundofloresta4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #ffffff;
  }

/* Sessão 4 */
.Sessao4{
    background-color:#e9e9e9;
    height: 200px;
    /* display: flex; */
    margin: auto;
    justify-content: center;
} 
.DivSessao4{
    display: flex;
    margin: auto;
    justify-content: center;
}
.TituloSessao4{
    margin: auto;
    display: flex;
}

.Catego{
    background-color: #fff;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    display: flex;
    /* margin: auto; */
    padding: 30px;
    /* margin: auto; */
    /* padding: 40px */
}
.CategoIco1{
    width: 40px;
    height: 40px;
    color: #469444
}
.CategoIco2{
    width: 40px;
    height: 40px;
    color: red
}
.CategoIco3 { 
    width: 40px;
    height: 40px;
    color: blue
}
/* .floresImgHoje{
    height: 20vh;
    object-fit: cover;
    
    margin: auto;
} */