.DivTitulos{
    display: flex;
    margin-inline: auto;
    margin-top: 20px;
}

.DivInternoTitutlos{
    margin-left: 20px;
    margin: auto;
    text-align: center;
}

.tituloH2{
    font-family: var(--fontPadrao);
    font-size: 24px;
    color: gray
}
.subtituloH2{
    font-family: var(--fontPadrao);
    color: #11FF0B;
    font-size: 36px;
    font-weight: bold;
    
}
