
.headerBack{
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #469444, #0be6e6, #55ACEE) border-box;
    border: 3.5px solid transparent;
    border-left: transparent;
    border-right: transparent;
    position: relative;
	margin-top: -25px;
    height: 80px;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
    /* width: 100vw; */
	padding: 0.5em 1.5em; 
    box-shadow: 0 5px 5px -3px rgb(169, 169, 169);
    /* position: fixed; */
}

.navContain{
    margin-left: 85px !important;
    max-width: 100% !important
}
.NavMenuOp{

    margin: auto !important;
    justify-content: center !important
}

.divlogotipo{
    background-color: #ffffff;
    display: flex;
    width: 20%;
    padding-left: 0px;
    left: 0px
    
}

.Navlogo{
    margin-left: -70px;
}

.logo{
    width: 200px;
    height: 30px;
    margin-left: 0px;
}

.opcoesMenu{
    display: flex;
    width: 40%;
    text-decoration: none;
    margin-bottom: 0px
}

/* .fontMenu{
    
} */

/* .custom_dropdown > .nav-link {
    color: red !important; 
  } */

.custom_dropdown {
    --bs-nav-link-color: var(--secundaryTom1-color3);
    --bs-navbar-active-color: var(--primaryTom1-color);
    font-family: var(--fontPadrao);
  }
.custom_dropdown:hover {
    --bs-nav-link-hover-color: var(--primaryTom1-color);
    --bs-navbar-active-color: var(--primaryTom1-color);
  }



/* .opcoesMenu .h2Tit{
    margin: 10px;
    font-family: var(--fontPadrao);
    font-size: var(--fontSizeMenu);
    text-decoration: none;
    margin-top: 40px;
    color: var(--secundaryTom1-color3)
    
}
.opcoesMenu .h2Tit:hover{
    border-bottom: 3px solid;
    border-bottom-color: var(--primaryTom1-color);
    color: var(--primaryTom1-color);
}

.opcoesMenu2{
    background-color: #ffffff;
    display: flex;
    width: 40%;
    text-decoration: none;
}

.opcoesMenu2 .h2Tit{
    margin: 10px;
    font-family: var(--fontPadrao);
    font-size: var(--fontSizeMenu);
    text-decoration: none;
    
}

} */





.h2Menu{
    color: green
}

.h2Tit{
   
    font-family: var(--fontPadrao);
    text-decoration: none;
    color: var(--secundaryTom1-color3)
    
}
.h2Tit:hover{
   
    color: var(--primaryTom1-color);
    
}



.Icon{
    width: 30px;
    height: 30px;
    color: var(--secundaryTom1-color3)
}

.Icon:hover{
    color: var(--primaryTom1-color)
}

.IconLogout{
    margin-top: 20px;
    width: 30px;
    height: 40px;
    color: var(--secundaryTom1-color3)
}

.IconLogout:hover{
    color: var(--primaryTom1-color)
}

.IconeMENU{
    margin-top: 20px;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    background-color: transparent !important;
    color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
}

.IconeMENU:hover .Icon{
    color: var(--primaryTom1-color)
}
.IconeDrop{
    width: 20px;
    height: 20px;
    color: var(--secundaryTom1-color3);
    margin-right: 10px;
}

/* .IconeDrop:hover{
    width: 20px;
    height: 20px;
    color: var(--primaryTom1-color);
   
} */
.OpDrop{
    color: var(--secundaryTom1-color3);
}

.OpDrop:hover{
    color: var(--primaryTom1-color);
}

.OpDropNotifi{
    margin-left: -40px
}

@media (max-width:1082px) {
    .NavColaps{

     font-size:16px
    }
}