.divFundo{
    background-color: rgb(207, 206, 206);
    width: 60vw;
    height: 550px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    top: 130px;
    /* opacity: 0.6 */
    
}


.BarraCard{
    background-color: #ffffff;
   
    border-left: transparent;
    border-right: transparent;
    justify-content: end;
    
    border-radius: 10px 7px 0px 0px;
    width: 70%;
    position: relative;
    margin-left: 225px;
    margin-inline-start: auto;
    margin-top: -40px;

}

.divBarra{
    height: 40px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px 7px 0px 0px;
}

.DivForm{
    background-color: #ffffff;
    
    border-radius: 0px 0px 10px 200px;
    width: 45%;
    height: 508px;
    justify-content: end;
    margin-inline-start: auto;
}

.Formulario{
   
    width: 80%;
    margin-inline-start: auto;
    margin-right: 15px;
}

.DivCorpoCard{
    display: flex;
    
}

.TituloCard{
    
    justify-content: center;
    margin: auto;
    font-size: 28px;
    display:inline-flex;
    margin-top: 50px;
    margin-bottom: 40px;
    /* margin-left: 80px; */
    font-family: var(--fontPadrao);
    color: #469444;
    width: 100%;
    text-align: center;
    padding: 5px;
     
}

.imgMundo{
    width: 350px;
    height: 350px;
    margin: auto
   
}

.logo{
    width: 150px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
   

}

.BotaoEntrar{
--bs-btn-bg: #55ACEE !important;
--bs-btn-border-color: #55ACEE !important;
--bs-btn-hover-color: #fff !important;
--bs-btn-hover-bg: #0b5ed7 !important;
--bs-btn-hover-border-color: #0a58ca !important;
display: flex !important;
margin-inline-start: auto !important;

}
.BotaoCad{
    --bs-btn-bg: #55ACEE !important;
    --bs-btn-border-color: #55ACEE !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #0b5ed7 !important;
    --bs-btn-hover-border-color: #0a58ca !important;
    display: flex !important;
    /* margin-inline-start: auto !important; */
    margin: auto;
    margin-top: 50px;
   
    }

.BotaoCadGoogle{
        --bs-btn-bg: #ffffff !important;
        --bs-btn-border-color: #0b5ed7 !important;
        
        --bs-btn-hover-bg: #0b5ed7 !important;
        --bs-btn-hover-border-color: #0a58ca !important;
        color: #0b5ed7 !important;
        display: flex !important;
        /* margin-inline-start: auto !important; */
        margin: auto;
        margin-top: 50px;
        
        }
.BotaoCadGoogle:hover{
    color: #fff !important;
}

.EsqueciSen{
    justify-content: end;
    display: grid;
    color: gray;
    cursor: pointer;
    margin-right: 5px;
}

.EsqueciSen:hover{
    text-decoration: underline;
    margin-right: 5px;
   
}

.DivSpinnerLoadding{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #2b2a2a;
    opacity: 0.4;
    margin: auto; 
    position: absolute;
    top: 0px
}
.SpinnerLoadding{
    display: flex;
    margin: auto; 
    position: absolute
}

.botaoCarregamento{
    display: block;
    width: 50%;
    position: absolute !important;
    bottom: 0%;
    right: 0%;
}
/* .cardlogin{
    position: absolute !important;
} */

/* -----------------------------------Responsividade---------------------------- */
@media (max-width: 990px) {
     
   .imgMundo{
    display: none;
    }
    .DivForm {
        width: 100%
    }
    .divFundo{
        width: 80%;
    }
  
}

@media (max-width: 600px) {
     
    .BarraCard{
        background-color: #ffffff;
        margin-top: 20px;
        width: 100%;
       
    }
    .DivForm {
        height: 460px
    }
    .logo{
        display: flex;
        margin: auto;
    }
    .divBarra{
        height: 60px;
    }
    
 }