.divFundo{
    background-color: rgb(207, 206, 206);
    width: 60vw;
    height: 500px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    top: 150px;
    /* opacity: 0.6 */
    
}


.BarraCard{
    background-color: #ffffff;
   
    border-left: transparent;
    border-right: transparent;
    justify-content: end;
    
    border-radius: 10px 7px 0px 0px;
    width: 100%;
    position: relative;

}

.DivForm{
    background-color: #ffffff;
    
    border-radius: 200px 0px 0px 200px;
    width: 50%;
    height: 458px;
    justify-content: end;
    margin-inline-start: auto;
}

.Formulario{
   
    width: 70%;
    margin-inline-start: auto;
    margin-right: 5px;
}

.DivCorpoCard{
    display: flex
}

.TituloCard{
    
    justify-content: center;
    margin-inline-start: center;
    font-size: 28px;
    display:inline-flex;
    margin-top: 70px;
    margin-left: 80px;
    font-family: var(--fontPadrao);
    color: #469444
    
    
}

.imgMundo{
    width: 350px;
    height: 350px;
    margin: auto
   
}

.BotaoEntrar{
--bs-btn-bg: #55ACEE !important;
--bs-btn-border-color: #55ACEE !important;
--bs-btn-hover-color: #fff !important;
--bs-btn-hover-bg: #0b5ed7 !important;
--bs-btn-hover-border-color: #0a58ca !important;

}

.EsqueciSen{
    justify-content: end;
    display: grid;
    color: gray;
    cursor: pointer;
    margin-right: 5px;
}

.EsqueciSen:hover{
    text-decoration: underline;
    margin-right: 5px;
   
}