.divFundoPlantar{
    /* height: 100%; */
    margin-top: 1%;
    display: flex;
}

@media (max-width: 1350px){
    .Coluna2{
        display: none;
    
    }

    .divRevisaoRespons{
     /* height: 100px;
     width: 100px;
     border-radius: 100%;
     background-color: #116582;    */

     height: 100px;
     width: 100%;
     margin: auto;
     justify-content: center;
     /* background-color: #E8F4E7; */
     background-color: #c8dfe7;
     border-radius: 10px;
     
     /* position:fixed; */
     margin-bottom: inherit;
     bottom: 0px;
     position: fixed;
     top: 110px;


    }


}

.migalhas{
    display: flex;
    margin-top: 10%;
    margin-left: 10%
}

.barraCabecalho{
    height: 200px;
    width: 100%;
    /* background-color: #116582; */
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient(#ffff, #116582);
    
}
.legandaCabecalho{
    margin: auto;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 2%;
    font-family: var(--fontPadrao);
}

.Coluna1{
    width: 80%;
    height:100%;
    margin: auto;
}
.Coluna2{
    width: 400px;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    
    
}

.divTituloPassos{
    /* background-color: #dceefd; */
    background-color: #c8dfe7;
    height: 40px;
    width: 100%;
    display:flex;
    
}
.PassosEstilo{
    border: solid 1px;
    background-color: #116582;
    justify-content: center;
    height: 40px;
    width: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    
}


.divDetailCompra{
    height: 300px;
    width: 290px;
    margin: auto;
    justify-content: center;
    /* background-color: #E8F4E7; */
    background-color: #c8dfe7;
    border-radius: 10px;
    padding: 5px;
    /* position:fixed; */
    margin-left: 5px;
    margin-top: 5px;
    position: sticky;
    top: 110px;

}

.divDetailhesLados{
    display: flex;
}

.botaoContinuar{
    margin: 20px;
    width: 200px;
    height: 50px;
    background-color: #23a454;
    font-size: 18px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: #fff;
    margin: auto;
    margin-top: 70px;
   
}
.botaoContinuar:hover{
    box-shadow: 2px 2px 10px 2px #bfbfbf;
}


.legendaladoA{
    text-align: left;
    color: #ac2222
}
.legendaladoB{
    font-size: 10px;
    text-align: right;
}

.legendaH5{
    margin-inline-start: auto;
    justify-content: end;
    display: flex;
    font-size: 0.9rem;
}

.nomeH4{
color: #55ACEE
}

/* =============CARDS LOCAL estilo 1========== */

.Card{
    width: 30%;
    height: 30%;
    margin: auto;
    
}

.HeaderCard{
    display: flex;
    
}
.HeaderCard0{
    /* background-color: #9EC69D; */
    background-color: #116582
}

.opcoesCard{
    display: flex;
    margin-inline-start: auto;
}

.iconeCard{
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
    color: #fff
}
.StatusCard{
    font-size: 12px;
    width: 80px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: green;
    color: #fff;
    justify-self: auto;
    justify-content: auto;
    justify-items: auto;
   
}

.StatusCard2{
    font-size: 12px;
    width: 80px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: red;
    color: #fff;
    justify-self: auto;
    justify-content: auto;
    justify-items: auto;
   
}

.imgArvore{
    width: 99%;
    height: 20vh;
    margin: auto;
    display: flex;
    object-fit: cover;

}

@media (max-width: 1211px) {
    .Card{
        width: 60%;
        height: 10%;
        margin: auto;
        
    }
}

/* CARDS LOCAL ESTILO 2 */
.cardLocais{
    height: 480px;
    width: 300px;
    background-color: lavender;
    /* display: flex; */
    margin: auto;
    margin-top: 15px;
    border: solid 2px;
    border-color: #979797 ;
    /* border-radius: 15px; */
    /* cursor: pointer; */
    /* text-align: center; */
}
.cardLocaisSelect{
    height: 480px;
    width: 300px;
    background-color: lavender;
    /* display: flex; */
    margin: auto;
    margin-top: 15px;
    border: solid 2px;
    border-color: #2ccd23 ;
    /* border-radius: 15px; */
    /* cursor: pointer; */
    /* text-align: center; */
}
.HeaderLocais{
    text-align: center;
    display: flex;
    
}


.iconesAdmin{
    font-size: 20px;
    margin-inline-start: auto;
    
}
/* .iconesAdmin:hover{
    margin-inline-start: auto;
   
} */
.iconesAdminIcon1{
    cursor: pointer;
    font-size: 23px;
    transition: 0.2s;
   
}
.iconesAdminIcon1:hover{
    cursor: pointer;
    font-size: 25px;
    transition: 0.2s;
    color: #55ACEE
}
.iconesAdminIcon2{
    cursor: pointer;
    font-size: 23px;
    transition: 0.2s;
}
.iconesAdminIcon2:hover{
    cursor: pointer;
    font-size: 25px;
    transition: 0.2s;
    color: #EE6755
}

.cardLocais:hover{
    box-shadow: 2px 2px 10px 2px #bfbfbf;
    transition: 0.2s;
    
    /*border-color: rgb(37, 194, 76); */
    /* background-image: linear-gradient(honeydew, #93d7e9); */
    /* background-color: #d9f9d9 */
    /* background-color: #fff; */
}
.divNome{
    display: flex;
    justify-content: center;
}
.imagemLocal{
    width: 100%;
    height: 50%;
}

.divIcones{
    background-color: #ffffff;
    width: 100%;
    border: solid 1px #ebeaea;
    /* margin-left: -15px; */
    font-size: 18px;
    display: flex;
    
    align-items: center;
}
.Icon1{
    color: #116582;
    margin-right: 5px;
}
.Icon2{
    margin-right: 5px;
    color: #040404;
}
.Icon3{
    margin-right: 5px;
    color: #118222;
}
.Icon4{
    margin-right: 5px;
    color: #3ce812;
}
.Icon5{
    margin-right: 5px;
    color: #824011;
}


.nomeItem{
    margin-left: auto;
    margin-right: 10px;
    font-size: 18px;
    margin-bottom: 0px;
}

.textmuted{
    width: 100%;
    padding: 2px;
}

.DescricaoLocais{
    margin-left: 5px;
    text-align: center;
}

.footerCard{
    display: flex;
    flex-wrap: wrap;
}

.divBotaoPlant{
    display: flex;
    justify-content: center;
}
.botaoPlantar{
    margin: 10px;
    background-color: #2F2F2F;
    border-color: #2F2F2F
}

.botaoPlantar:hover{
    background-color: var(--secundaryTom1-color3);
    border-color: var(--secundaryTom1-color3);
}
.botaoPlantarSelect{
    margin: 10px;
    background-color: var(--secundaryTom1-color3);
    border-color: #2F2F2F
}
.botaoPlantarSelect:hover{
    margin: 10px;
    background-color: #2F2F2F;
    border-color: #2F2F2F
}

.botaoCarregamento{
    display: block;
    width: 50%;
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.divLocais{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.divHeaderDetail{
    background-color: #116582;
    height: 200px;
    width: 100%;
}

/* ===============ESTILO DOS CARDS ARVORES=============== */
.divItens1{
    /* height: 400px;
    overflow-y: auto; */
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: center;
}
 
.CardArvore{
    width: 300px;
    /* height: 30%; */
    margin: auto;
    margin-top: 10px;
    /* cursor: pointer; */
}
.CardArvore:hover{
    /* border: solid 2px #2ccd23; */
    box-shadow: 2px 2px 10px 2px #bfbfbf;
}

.divCardArv{
    display: flex;
    flex-flow: wrap;
    justify-content: center;

   
}
/*paginação */
.divPaginacao{
    /* display: flex; */
    /* position: fixed; */
    margin-left: 20px;
    margin-top: 10px;
    bottom: 5px;
   
   
}

/*FILTRO DE BUSCA*/

.Busca{
    width: 100%;
    margin: auto;
    margin-bottom: 12px;
}

.headerTabela{
    background-color: #2F2F2F;
    width: 96%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    height: 65px;
} 


.DropMENU{
    margin-inline-start: auto;
    display: flex
}

.IconeMENU{   
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: var(--secundaryTom1-color3)!important;
    background-color: transparent !important;
    color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
}

.IconeMENU2{
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #55ACEE!important;
    background-color: transparent !important;
    color: #000;
    --bs-btn-active-color: #000 ;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #000;
}

.LegendaAviso{
    
    margin: auto;
    justify-content: center;
    color: #979797;
    text-align: center;
}
.IconeDrop{
    width: 20px;
    height: 20px;
    color: var(--secundaryTom1-color3);
    margin-right: 10px;
}

.numeracaoPasso{
    float: left;
    width: 150px;
    height: 40px;
    margin: 20px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 0%);
    background: lightblue;
}

/*Estilo para carrossel*/
.carrosselAlice{
    width: 400px;
}
.PassosTitulo{
    display: flex;
    margin-top: 5px;
}

/*Cards quantidade*/
.divCardsQuantidade{
    display: flex;
    justify-content: center;
    font-family: var(--fontPadrao);
    flex-wrap: wrap;
}

.CardQtd{
background-color: #116582;
margin-left: 20px;
margin: 10px;

}
.CardQtd:hover{
    box-shadow: 2px 2px 10px 2px #bfbfbf;  
}


.Estrelas{
    font-size: 12px;
}
.divIconeEstrela{
    text-align: center;
    color: lightblue
}
.IconePlantaQtd{
    font-size: 38px;
}
.divLegQtd{
    margin: auto;
    text-align: center;
    color: #ffffff;
}
.legQtd{
    font-size: 9rem;
}

.EspecQtd{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    border: solid 1.5px #b3b2b2;
    border-radius: 10px;
}
.caixaQtd{
    width: 100%;
  
}

