.RowDiv{
    margin-top: 40px;
    --bs-gutter-x: 0.5rem !important;
    /* margin-left: 50px; */
    width: 100%;
    justify-content: center;
    margin-inline: auto;;
}

.ColunaSm9{
    width: 600px;
}

.OpcaoCad{
    
    --bs-nav-pills-link-active-bg: #55ACEE;
}


.BotaoCad{

--bs-btn-color: #fff;
--bs-btn-bg: #469444;
--bs-btn-border-color: #469444;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #31662f;
--bs-btn-hover-border-color: #31662f;

}

