.RowDiv{
    margin-top: 40px;
    --bs-gutter-x: 0.5rem !important;
    /* margin-left: 50px; */
    width: 100%;
    justify-content: center;
    margin-inline: auto;
}

.ColunaSm9{
    width: 600px;
}
.ColunaSm3{
    display: none;
}


.OpcaoCad{
    
    --bs-nav-pills-link-active-bg: #55ACEE;
}


.BotaoCad{

--bs-btn-color: #fff;
--bs-btn-bg: #55ACEE;
--bs-btn-border-color: #55ACEE;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #427fad;
--bs-btn-hover-border-color: #427fad;

}

.formPapel{
    display: flex;
    height: 40px
}

.botaoCarregamento{
    display: block;
    width: 50%;
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.OpcaoCadEdit{
    display: none;

}