.DivHeader{
    height: 180px;
    width: 100%;
    background: linear-gradient(#55ACEE, #295271 );
    margin-top: 50px;
}
.BarHeader{
    justify-content: center;
    background-color: #9EC69D;
}
 

.FotoPerfil{
    /* display: flex; */
    margin-left: 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-top: 90px;
    border: solid 10px;
    border-color: #fff;
    cursor: pointer;

}

.LegendaFoto{
    margin-left: 50px;
    color: transparent;
    width: 150px;

}
.FotoPerfil:hover, .LegendaFoto:hover {
    color: #ffffff;
    cursor: pointer;
}


.DivInfoPess{
    display:flex;
    margin: auto;
    justify-content: center;
    margin-top: 30px
    
}
.DivInfo{
    border-right: solid 3px;
    border-color: #55ACEE;
    margin-right: 50px;
    padding-right: 20px;
    color:#55ACEE
}

.DivInfoEdit{
    display: flex;
    margin:auto;
    justify-content: center;
    
}

.IconInfoEdit{
    width: 22px;
    height: 22px;
    margin-top: 10px;
    cursor: pointer;
    color: #55ACEE;
    transition: 0.3s;
    }
.IconInfoEdit:hover{
scale: 1.3;
    }
