.barraCabecalho{
    height: 300px;
    width: 100%;
    /* background-color: #116582; */
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    text-align: center;
    background: #55acf0b3;
   
    
}
.legendaCabecalho{
    margin: auto;
    justify-content: center;
    font-size: 2rem;
    /* margin-bottom: 2%; */
    font-family: var(--fontPadrao);
  
}

.subtituloCabecalho{
    margin: auto;
    justify-content: center;
    font-size: 1rem;
    /* margin-bottom: 2%; */
    font-family: var(--fontPadrao);
}

.divTitleSubTit{
    margin: auto;
    justify-content: center;
    margin-top: 125px;
}


.botaoPlantar{
    margin: 10px;
    background-color: #2F2F2F !important;
    border-color: #2F2F2F !important;
}

.botaoPlantar:hover{
    background-color: var(--secundaryTom1-color3) !important;
    border-color: var(--secundaryTom1-color3) !important;
}

.divPropMetd{
    display: flex;
    width: 80%;
    height: 400px;
    /* background-color: aliceblue; */
    margin: auto;
    justify-content: center;
}

.divProposta{
    margin: auto;
    text-align: justify;
    padding: 10px;
}
.divMetodo{
    margin: auto;
    text-align: justify;
    padding: 10px;
}

.legendaProposta{
    color: #55acf0b3;
}
.legendaMetodo{
    color: #55acf0b3;
}

.divTituloLugaresPlant{
    display: flex;
    margin: auto;
    justify-content: center;
}

.divProva1{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}
.divIcone{
    height: 125px;
    width: 10%;
    background-color: rgb(238, 71, 71);
}
.Icone{
    font-size: 6rem;

}
.divImagem{
    height: 125px;
    width: 10%;
   
}
.Prova1{
    background-color:#ebe9e9;
    height: 125px;
    width: 80%;
   
    margin: auto;
    justify-content: center;
}

.divIcones{
    background-color: #ebe9e9;
    width: 100%;
    border: solid 1px #ebe9e9;
    /* margin-left: -15px; */
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.Icon1{
    color: #116582;
    margin-right: 5px;
}
.Icon2{
    margin-right: 5px;
    color: #040404;
}
.Icon3{
    margin-right: 5px;
    color: #118222;
}
.Icon4{
    margin-right: 5px;
    color: #3ce812;
}
.Icon5{
    margin-right: 5px;
    color: #824011;
}


.nomeItem{
    margin-left: auto;
    margin-right: 10px;
    font-size: 18px;
    margin-bottom: 0px;
}

.divVAlores{
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin: auto;
    
}

.divMissao{
    width: 33%;
    height: 320px;
    background-color: #116582;

}
.divVisao{
    width: 33%;
    height: 320px;
    background-color: #194553;
}
.divValor{
    width: 33%;
    height: 320px;
    background-color: #26c92e;
}