.fundoRodape{
    
    background-color: #2F2F2F;
    
    width: 100%;
    height: 290px;
    margin-bottom: 0px;
    color: #fff;
    display: block;
    margin-top: 50px;
    
}
.fundoRodape2{
    top: 80px;
    display: flex;
    padding-top: 180px;
}
.Titulo{
    color: white;
    margin: auto;
    cursor: pointer
}

.copyri{
    color: #fff;
    justify-content: center;
    display: flex;
}