.divFundo{

margin-top: 100px
}
.Tabela{
    width: 80%;
    margin: auto
}

.listaItemUsuario{
    list-style-type: none;
    margin-top: 10px;
    
}

.itemUsuario{
    border-bottom: 1px solid #a19f9f 
}
.FontUsuario{
    font-size: 1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: var(--fontPadrao);
}

.Editar{
    cursor: pointer;
    color: #55ACEE
}
.Editar:hover{
 
    background-color: #E5F4FF
}
.Deletar{
    cursor: pointer;
    color: #EE6755
}
.Deletar:hover{
    cursor: pointer;
    background-color: #FBECEA
}

.icoEditar{
   
    color: #55ACEE
}
.icoDeletar{
   
    color: #EE6755
}

.Busca{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
 
.headerTabela{
    background-color: #2F2F2F;
    width: 80%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

.DropMENU{
    margin-inline-start: auto;
    display: flex
}

.IconeMENU{
    
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #55ACEE!important;
    background-color: transparent !important;
    color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
}


.IconeDrop{
    width: 20px;
    height: 20px;
    color: var(--secundaryTom1-color3);
    margin-right: 10px;
}
