.divFundoRestauracao{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.containerTab{
    width: 80%;
    /* background-color: rgba(241, 241, 241, 0.775); */
}
.containerTab2{
    width: 75%;
    padding-left: 0px
    /* background-color: rgba(241, 241, 241, 0.775); */
}

.containerPrincipal{
    width: 60%;
    justify-content: center;
    margin: auto;
}

.divBannerRestauracao{
    width: 100%;
    height: 210px;
    background-color: #55acf0b3;
    display: grid;
    justify-content: center;
    font-family: var(--fontPadrao);
    margin-top: 90px;
}
.tituloBanner{
    color:#ffff;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    /* margin-top: 120px; */
}

.divBotoesBanner{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%;

}
.botaoBanner{
    margin: 5px;
    background-color: transparent !important;
    border-color: #0d6efd;
    border-radius: 40px;
    /* width: 250px; */
    width: 60%;
    color: #0d6efd;
}
.botaoBanner:hover{
    background-color: #0d6efd !important;
    /* border-color: #0d6efd; */

}

.paginaRestore{
    /* background-color: rgb(237, 238, 238); */
    width: 100%;
    height: 70vh;
    overflow: auto;
    border-left: solid 1px #55acf0b3;
}

.imgArvore{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
}

.divUsuarios{
    /* background-color: aquamarine; */
    width: 70%;
    height: 120px;
    display: flex;
    border-bottom: solid 1px #55acf0b3;
    /* border-left: solid 3px #0d6efd; */
    margin: auto;
    background-image: linear-gradient(to right,#55acf0b3 1%, rgb(237, 238, 238) 50%  );
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 10px;

}
.divDadosUsuario{
    margin: auto;
    justify-content: center;
    font-family: var(--fontPadrao);
    color: #717171;
} 
.itemSpan{
    color: #0d6efd;
}
.BotaoRest{
    background-color: rgb(237, 238, 238) !important;
    border-color: #459543 !important;
    color: #459543 !important;
    border-radius: 20px;
}
.BotaoRest:hover{
    background-color: #459543!important;
    border-color: #2c612b  !important;
    color: #ffffff !important;
}

.Busca{
    width: 70%;
    margin: auto;
    margin-bottom: 12px;
}

/*Paginação*/ 
.divPaginacao{
    margin-left: 20px;
    margin-top: 10px;
    bottom: 5px;
    justify-content: center;
    display: flex;
    position: sticky;
}

/* Filtro */
.headerTabela{
    background-color: #2F2F2F;
    width: 100%;
    margin: auto;
    /* border-radius: 10px 10px 0px 0px; */
    height: 65px;
    margin-bottom: 5px;
} 

.DropMENU{
    margin-inline-start: auto;
    display: flex
}

.DropMENU{
    margin-inline-start: auto;
    display: flex
}

.IconeMENU{   
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: var(--secundaryTom1-color3)!important;
    background-color: transparent !important;
    color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
}

.IconeMENU2{
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #55ACEE!important;
    background-color: transparent !important;
    color: #000;
    --bs-btn-active-color: #000 ;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #000;
}


.IconeDrop{
    width: 20px;
    height: 20px;
    color: var(--secundaryTom1-color3);
    margin-right: 10px;
}
